<h1>Welcome, <%= current_user.name %></h1>

<div class="row">
	<h2>To-Do List</h2>
	<%= render "items/item" %>
	<p><%= render "items/form" %></p>
	<p><%= link_to "Change your password", edit_user_registration_path %></p>
</div>




