<h1>Welcome, <%= current_user.name %></h1>

// _item.html.erb partial here
	// Shows the body of each item already associated with the user

<%= link_to "Change your password", edit_user_registration_path %>
