<div class="container">
	<div class="row">
	<h1>Welcome, <%= current_user.name %></h1>
	</div>
	<div class="row">
		<h2 align="center">To-Do List</h2>
		<%= render "items/form" %>
		<%= render "items/item" %>
	</div>
	</br>
	<div class="row">
		<%= link_to "Change your password", edit_user_registration_path %>
	</div>	
</div>




